 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {

     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background: #f5f5f5;
 }

 .container {
     border: 1px solid #ddd;
     padding: 30px 40px;
     text-align: center;
     width: 350px;
     border-radius: 15px;
     background: #fff;
     box-shadow: 0 0 20px #97241D;
 }

 input {
     width: 80%;
     padding: 10px 15px;
     margin: 10px 0;
     border-radius: 10px;
     border: 1px solid #ccc;
     font-size: 16px;
     transition: 0.3s;
 }

 input:focus {
     outline: none;
     border-color: #97241D;
     box-shadow: 0 0 5px #97241D;
 }

 button {
     padding: 10px 20px;
     margin: 5px;
     border: none;
     border-radius: 10px;
     background: #633C35;
     color: white;
     font-size: 16px;
     cursor: pointer;
     transition: 0.3s;

     &:hover {
         background-color: #E45932;
         transform: translateY(-2px);
         box-shadow: 0 5px 15px rgba(0, 0, 0, 0.057);
         color: black;
     }
 }

 .container1 {
     display: flex;
     justify-content: space-between;
 }

 h1 {
     margin: 15px 0;
     color: #333;
     margin-right: 20px;
 }